/*--
    Author: W3layouts
    Author URL: http://w3layouts.com
--*/


/* reset code */

html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    color: #585858;
}

* {
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
}

.imglogo {
    width: 5%;
}


/*  wrapper */

.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}


/*  /wrapper */

.d-grid {
    display: grid;
}

button,
input,
select {
    -webkit-appearance: none;
    outline: none;
}

button,
.btn,
select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
}

form,
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}


/*-- forms styling--*/

section.forms {
    padding: 30px;
}

.logotext {
    text-align: center;
}

.logotext a {
    color: #012725;
    font-size: 36px;
    line-height: 4px;
    display: inline;
    margin-bottom: 30px;
}

.forms-grid {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 40px auto;
    max-width: 1200px;
    width: 100%;
}

.btn {
    align-items: center;
    background: #fff;
    border-radius: 36px;
    border: 0;
    color: #004643;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    padding: 15px 45px;
    transition: 0.2s;
    font-weight: 600;
    margin: 20px auto 0;
}

.btn:hover {
    transform: translateY(-2px);
    background: #ffb100;
}

.main {
    background: url("../usersArea/images/bg.jpg") no-repeat bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
    padding: 2em 0;
    position: relative;
    z-index: 1;
    justify-content: center;
    display: grid;
    align-items: center;
}

.main:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(255 255 255 / 45%);
    z-index: -1;
}

.w3lhny-register {
    border-radius: 8px;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    height: auto;
    max-width: 400px;
    padding: 30px 80px;
    text-align: center;
    width: 100%;
    margin: 2em auto;
}

.w3lhny-register strong {
    color: #3b3663;
    display: block;
    font-size: 28px;
}

.w3lhny-register .create-account {
    border-top: 1px solid rgb(226 226 226 / 17%);
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding-top: 20px;
    color: #fff;
    opacity: 0.8;
}

.w3lhny-register .create-account strong {
    font-size: 16px;
    margin-left: 5px;
    text-decoration: underline;
}

.w3lhny-register {
    background: #004643;
}

.w3lhny-register .iconhny {
    display: inline-block;
    width: 56px;
    height: 56px;
    background: #028882;
    border-radius: 50%;
}

.w3lhny-register .iconhny span.fa {
    color: #fff;
    line-height: 50px;
    font-size: 24px;
}

p.already {
    color: #fff;
    opacity: 0.8;
    margin-top: 12px;
}

p.already a {
    color: #ffb100;
}

p.already a:hover {
    color: #ffb100;
    text-decoration: underline;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}

.w3lhny-register .form {
    margin-top: 30px;
    padding: 0 20px;
}

.w3lhny-register .form .form-row {
    position: relative;
    text-align: left;
}

.w3lhny-register .form .form-row .fa {
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 20px;
    color: #fff;
    opacity: 0.6;
}

.w3lhny-register .form .form-row.bottom {
    display: flex;
    justify-content: space-between;
}

.w3lhny-register .form .form-row.bottom .forgot {
    color: #4d61fc;
    font-size: 18px;
    opacity: 0.7;
}

.w3lhny-register .form .form-row.bottom .forgot:hover {
    opacity: 1;
}

.w3lhny-register .form .form-row.button-login {
    display: inline;
    text-align: center;
}

.w3lhny-register .form .form-row.button-login .fa {
    position: static;
}

.w3lhny-register .form .form-label {
    color: #696687;
    font-size: 17px;
    opacity: 0.7;
}

.w3lhny-register .form-password,
.w3lhny-register .form-text {
    color: #fff;
    font-size: 16px;
    border: 0;
    height: 55px;
    margin-bottom: 15px;
    padding: 0 40px 0 0px;
    width: 100%;
    background: #004643 no-repeat;
    transition: 100ms all linear 0s;
    background-image: linear-gradient( to bottom, rgb(204 205 210 / 63%) 0%, #fff 90%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.w3lhny-register .form-password:focus,
.w3lhny-register .form-text:focus {
    background-size: 100% 2px, 100% 1px;
    outline: none;
}

.w3lhny-register .form .form-row .button-login {
    margin-top: 20px;
}

.w3lhny-register .btn-login .fas.fa-arrow-right,
.login .btn-login .fas.fa-arrow-right {
    color: #fff;
    opacity: 1;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #fff;
    opacity: 0.6;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
    opacity: 0.6;
}

::placeholder {
    color: #fff;
    opacity: 0.6;
}

.w3lhny-register .social-media {
    font-size: 20px;
    margin-top: 10px;
}

.w3lhny-register .social-media .fa {
    margin: 0 5px;
    color: #fff;
}

.w3l-copyright p {
    color: #222;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 0 15px;
}

.w3l-copyright p a {
    color: #222;
}

.w3l-copyright p a:hover,
.w3lhny-register .social-media .fa:hover {
    color: #ffb100;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}

@media (max-width: 870px) {
    .forms-grid {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 30px auto;
    }
}

@media (max-width: 480px) {
    .logo a {
        font-size: 32px;
        line-height: 42px;
        display: inline;
        margin: 30px 0;
    }
}

@media (max-width: 415px) {
    .logo a {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 384px) {
    section.forms {
        padding: 30px 15px;
    }
    .w3lhny-register {
        padding: 35px 5px;
        max-width: 340px;
    }
    .w3lhny-register .form .form-row.bottom .forgot,
    .login .form .form-row.bottom .forgot,
    .w3lhny-register .form .form-row .form-check input[type="checkbox"]+label,
    .login .form .form-row .form-check input[type="checkbox"]+label {
        font-size: 17px;
    }
    .w3lhny-register strong {
        font-size: 25px;
    }
}

@media (max-width: 384px) {
    .w3lhny-register {
        max-width: 320px;
    }
}

@media (max-width: 375px) {
    .w3lhny-register {
        max-width: 310px;
    }
}


/*-- //forms styling--*/